@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center mt-5">
    <h1>Welcome to Online Book Store</h1>
    <p>Please login to browse our collection.</p>
    <a asp-controller="Book" asp-action="Index" class="btn btn-primary btn-lg">Browse Books</a>
</div>